<!-- Header -->
			<div id="header-wrapper">
				<div id="header">

					<!-- Logo -->
						<h1><a href="index.html">Internet of Things (2025) - Università del Salento</a></h1>

					<!-- Intro -->
						<section id="intro" class="container">
							<div class="row">

								<p>
									The <a href="https://elearning.unisalento.it/course/view.php?id=2473" title="Website of the course of Intenet of Things 2025-2026">Internet of Things course</a> aims to offer a complete vision on how to design and develop smart objects and smart services based on hardware and software technologies enabling the Internet of Things. Particular attention will be paid to the creation and testing of the so-called smart environments.
									The Web of Things approach will be adopted. It allows a total abstraction from the main physical technologies adopted in modern networks. The extended WoT protocol stack, composed of four layers, will be discussed, details on emerging enabling technologies such as RFID, embedded systems, WSN and Bluetooth Low Energy (BLE) will be provided. The REST architectural style and protocols such as CoAP and MQTT will be described. Several practical use cases focused on building smart environments will be discussed.
								</p>
							</div>
								<span class="moreInfo">
									For more information you can visit the official websites: <a href="https://www.unisalento.it/offerta-formativa-a.a.-2025/2026/-/dettaglio/insegnamento/211431/internet-of-things">IoT official webpage</a> or <a href="https://elearning.unisalento.it/course/view.php?id=2473">e-learning webpage</a>.
								</span>
								<span class="moreInfo2">
									<table id="courseInfo" border="1" align="center">
										<tbody>
											<tr>
												<td>Course title</td>
												<td>Intenet of Things</td>
											</tr>
											<tr>
												<td>Course year</td>
												<td>1st year</td>
											</tr>
											<tr>
												<td>Course type</td>
												<td>Master degree</td>
											</tr>
											<tr>
												<td>Language</td>
												<td>Italian</td>
											</tr>
											<tr>
												<td>Reference professor</td>
												<td>Luigi Patrono</td>
											</tr>
											<tr>
												<td>Other teachers</td>
												<td>Teodoro Montanaro, Angela Tafadzwa Shumba, and Davide Cantoro</td>
											</tr>
										</tbody>
									</table>
								</span>
						</section>

				</div>
			</div>
